img{
    max-width: 100%;
}
header{
    background:#7d0eff;
    padding:15px;
    border-radius: 0 0px 20px 20px;
    box-shadow: #6502d8 2px 2px 2px;
}
.logo{
    max-width: 140px;
    display: inline-block;
}
.merchant_form_section{
        background: #384257;
        margin-top: 40px;
        padding: 30px 30px;
        color: #fff;
        box-shadow: #000 2px 2px 2px;
        border-radius: 8px;
}
.submit_button{
    display: block;
        padding: 6px 25px;
        background: #7d0eff;
        border-color: #7d0eff;
}
.or_tr_row{
    display: block;
    margin: 25px 0 0 0;
}
.tab_section_page_layout{
    margin-top: 40px;
    margin-bottom: 60px;
}
.tab_nav_ul{
    margin: 0;
    padding: 0;
    border-bottom: 2px solid #ddd;
    
}
.tab_nav_ul li{
    display: inline-flex;
    list-style-type: none;
}
.tab_nav_ul li a{
display:flex;
text-decoration: none;
font-size: 16px;
color: #666;
padding: 0 30px 0 0;
padding-bottom: 8px;
font-weight:500;
margin-right: 15px;
}
.tab_nav_ul li a:hover, .tab_nav_ul li a.active{
    border-bottom: 2px solid #7d0eff;
    color: #7d0eff;
    
}


.loading {
    margin: auto;
    text-align: center;
    min-height: 60vh;
  }
  .loading img {
    max-width: 80px;
    min-height: 80px;
    margin-top: 25vh;
  }
.loading_content_box{
        border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 25px;
    box-shadow: 2px 2px 2px #aaa;
    overflow: hidden;
}
.loading_content_head{
        padding: 8px 15px;
    background: #e9ebef;
    font-weight: 600;
    font-size: 17px;
}
.loading_content_body{
    padding:15px;
    min-height: 165px;
}
.loading_content_label{
    margin-bottom: 9px;
    line-height: 16px;
}
.loading_content_value{
    color: #777;
    margin-top: 6px;
}
.social_media_nav_ul li{
    display: inline-flex;
    margin-right: 15px;
}
.social_media_nav_ul li a{
    display: block;
}
.social_media_nav_ul li a img{
max-width:28px;
}
.social_media_nav_ul{
    padding: 0;
    margin: 15px 0 6px 0;
}
footer{
    text-align: center;
    background: #384257;
    padding: 6px;
    margin-top:40px;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.Log_Out_a{
float: right;
display: inline-block;
text-decoration: none;
}
@media (max-width: 1199px) {
.container, .container-lg, .container-md, .container-sm {
    max-width: 100%;
    width: 100%;
}
.submit_button{
    padding: 6px 15px;
}
}
@media (max-width: 767px){
    .merchant_id_form.row .col-9 {
        flex: 0 0 auto;
        width: 67% !important;
    }
    .tab_nav_ul li a {
    display: block;
    font-size: 15px;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 10px 0;
}
.tab_nav_ul li{
    display: block;
    width: 100%;
}
   .submit_button{
    display: block;
    padding: 6px 10px;
    font-size: 13px;
}
.form-control{
        padding: 6px 10px;
    font-size: 13px;
}
.col-form-label{
    font-size: 13px;
}
.logo {
    max-width: 100px;
}
header{
    padding: 8px 15px;
}
.merchant_form_section{
    margin-top: 20px;
    padding: 20px 20px;
}
footer{
    font-size: 13px;
}
.or_tr_row{
    margin-top:10px;
    text-align: left;
}

}
/* ========= New Css Start Here ============ */
.loading_content_label{
    position: relative;
    }
    .Tooltips_icons{
    display: inline-block;
    }
    .Tooltips_icons:hover{
    cursor: pointer;           ;
    }
    .Tooltips_value{
    display: none;
    background: #00000073;
    color: #fff;
    position: absolute;
    top:-25px;
    left: 0;
    font-size: 10px;
    padding: 4px 6px;
    border-radius: 6px;
    background-color: rgb(0, 0, 0, 0.5);
    }
    .Tooltips_icons:hover .Tooltips_value{
    display: block;
    }
    .loading_content_value{
        color: #777;
        margin-top:3px;
    }
    .authentication_login_section{
        max-width: 500px;
        margin: 3% auto;
        }
        .new_lab_text{
        margin-top: 15px;
        }
        .authentication_login_lgo{
        margin: 0 auto 20px auto;
        }
    .login_submit_button{
        margin:30px auto auto auto;
    }
/* ========= New Css End Here ============ */
